name: Deploy JupyterLite

on:
  push:
    branches: ['**']

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    uses: DurhamARC-Training/PythonCourse-jupyterlite/.github/workflows/deploy-jupyterlite.yml@github-action-branches
    secrets: inherit


